@use './styles/tokens' as *;
@use './styles/layout';
@use './styles/components';
@use './styles/utilities';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background: $app-background;
  color: $app-text-color;
  font-family: $app-font-family;
}
