.kpi-card {
  border-radius: 0.9rem;
  min-height: 122px;
}

mat-card-subtitle {
  color: #5b667a;
  font-size: 0.85rem;
}

mat-card-title {
  margin: 0.4rem 0;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #111827;
}

mat-card-content {
  color: #7b8797;
  font-size: 0.84rem;
}
